{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="signup-content">
<h1 style="padding: 15px 10px 10px 10px ;">Ground Floor: Cooling Systems</h1>
</div>
<table style="
    margin-top: 0px;
">
    <tr>
        <th>Sr. No</th>
        <th>Systems</th>
        <th>Unit Name</th>
        <th>Components</th>
        <th>Replacement Due</th>
        <th>Failure Mode</th>
    </tr>
    {% for component in gf_data %}
    <tr>
        <td>{{ component.sr_no }}</td>
        <td>{{ component.systems }}</td>
        <td>{{ component.units }}</td>
        <td>{{ component.components }}</td>
        <td>{{ component.replacement_due }}</td>
        <td>{{ component.failure_mode }}</td>
    </tr>
    {% endfor %}
</table>



{% endblock %}