{% extends 'base.html' %}
{% load static %}

{% block content %}

 <!-- BODY HERE ------------------------ -->
 <div class="content-container">
    <h1>Maintenance Data Entry</h1>

    {% if data_added %}
    <div id="data-alert" class="alert success" style="color: #414bc7;border-bottom: #414bc7 solid 5px;">
        Data added successfully!
    </div>
    {% endif %}
    
    <form action="" method="POST" style="display: flex;">
        {% csrf_token %}
      <div class="form-entry">
          <label for="system">Select System:</label>
          <select name="system" id="system" required>
              <option value="">Select a system</option>
              <option value="system1">Ground Floor Systems</option>
              <option value="system2">7m System</option>
              <option value="system3">11m System</option>
              <option value="system4">Dome System</option>
              <option value="system5">Ext. Building System</option>
          </select>
          <br><br>
  
          <label for="task-details">Task Details:</label>
          <input type="text" id="task-details" name="task-details" placeholder="Enter task details" required>
          <br><br>
  
          <label for="completion-date">Completion Date:</label>
          <input type="date" id="completion-date" name="completion-date" required>
          <br><br>
  
          <label for="User">Responsible User:</label>
          <input type="text" id="User" name="User" placeholder="Enter User's name" required>
          <br><br>
  
          <label for="notes">Additional Notes:</label>
          <textarea id="notes" name="notes" placeholder="Enter additional notes"></textarea>
          <br><br>
      </div>
      <input type="submit" value="Submit">
  </form>
  
          </div>
          <script>
            // Get the data alert element
            const dataAlert = document.getElementById('data-alert');
            // Hide the data alert after 3 seconds
            if(dataAlert)
                setTimeout(function() {
                    dataAlert.style.display = 'none';
                }, 3000);
        </script>

{% endblock %}
