{% extends 'base.html' %}
{% load static %}

{% block content %}

 <!-- BODY HERE ------------------------ -->
 <div class="content-container">
    <h1>Maintenance Schedule</h1>

  <table>
    <tr>
      <th>System Name</th>
      <th>Due Date</th>
      <th>Responsible User</th>
      <th>Additional Notes</th>
    </tr>
    <tr>
      <td>Ground Floor Systems</td>
      <td>2023-07-30</td>
      <td>John</td>
      <td>Perform routine inspection</td>
    </tr>
    <tr>
      <td>7m System</td>
      <td>2023-08-10</td>
      <td>Jane</td>
      <td>Replace worn-out components</td>
    </tr>
    <tr>
      <td>11m System</td>
      <td>2023-08-15</td>
      <td>David</td>
      <td>Calibrate sensor readings</td>
    </tr>
    <tr>
      <td>Dome System</td>
      <td>2023-08-20</td>
      <td>Sarah</td>
      <td>Perform lubrication maintenance</td>
    </tr>
    <tr>
      <td>Ext. Building System</td>
      <td>2023-08-25</td>
      <td>Michael</td>
      <td>Inspect and clean optical components</td>
    </tr>
  </table>
</div>

{% endblock %}